<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">
            %5p %d{yyyy-MM-dd HH:mm:ss.SSS} (%F:%L) --- %M [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

<!-- 		<RollingRandomAccessFile name="LogFile" -->
<!-- 								 fileName="${sys:user.home}/irt/irt_web.log" -->
<!-- 								 filePattern="${sys:user.home}/irt/irt_web-%d{yyyy-MM-dd}-%i.log.gz"> -->
<!-- 			<PatternLayout pattern="${LOG_PATTERN}" /> -->

<!-- 			<Policies> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 			</Policies> -->
<!-- 			<DefaultRolloverStrategy max="10" /> -->
<!-- 		</RollingRandomAccessFile> -->
    </Appenders>

    <Loggers>
<!-- 		<logger name="irt.web.controllers.OnRenderRestController" level="all" /> -->
<!-- 		<logger name="irt.web.ImagesTestController" level="all" /> -->

<!-- 		<logger name="irt.web.ImagesTestController" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.hidden.ImagesHiddenController" level="all" /> -->

<!-- 		<logger name="irt.web.controllers.SupporComtroller" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.PdfController" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.hidden.PdfHiddenController" level="all" /> -->

<!-- 		<logger name="irt.web.controllers.hidden.ProductHiddenController" level="all" /> -->
<!-- 		<logger name="irt.web.bean.email.IrtMailWorker" level="all" /> -->
<!-- 		<logger name="irt.web.bean.email.SpringMailWorker" level="all" /> -->
<!-- 		<logger name="irt.web.bean.email.CurlMailWorker" level="all" /> -->

<!-- 		<logger name="irt.web.controllers.FilesController" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.FiltersRestComtroller" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.hidden.FileHiddenController" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.QuoteRestComtroller" level="all" /> -->
<!-- 		<logger name="irt.web.controllers.QuoteComtroller" level="all" /> -->


        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
<!-- 			<AppenderRef ref="LogFile" /> -->
        </Root>
    </Loggers>

</Configuration>
