@import "./main.css";
@import "./banner.css";
@import "./button.css";
@import "./font/font.css";
@import "./footer.css";
@import "./nav.css";

body {
	background-image: url("/images/jpeg/satellite2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/* ==================== */
.about-description{
  background-color: rgba(9, 49, 105, 0.898);
  padding: 10px 0;
}
.about-description h1{
    margin-top: 20px;
}
.about-solution p{
    font-size: 20px;
    padding-left: 10px;
   
}
.about-solution .form-group{
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
#section-contact ul{
    padding-left: 5px;
}
#section-contact li{
    font-size:var(--font-size-default);
    line-height: 35px;
}
#section-contact .container{
    min-height: 300px;
    
}
#section-contact .card{
    margin-top: 40px;
    background-color: rgb(9, 49, 105);
    color: white;
    height: auto;
    min-width: 350px;
/*     cursor: pointer; */
    transition: transform 0.3s ease, font-size 0.3s ease;
}
#section-contact .card:hover{
    transform: scale(1.05);
    font-size: 2rem;
}

#section-contact .card-header h4{
    font-family: var(--font-primary);
    
}
#companyModal h4{
    color: white;
}
.about-modal .card{
    background-color: rgb(9, 49, 105);
    color: white;
    height: auto;
    box-shadow: none;
    border: none;  
}
.about .modal {
    background-color:transparent;
}
@media screen and (max-width: 1023px){
    .about-description p{
       
        font-size: 18px;
    }
}

/* ==========form contact us========== */
.about-solution .container {
  margin-top: 50px;
}
.form-label {
  font-weight: bold;
}
#section-contact .form-control{
  background-color: #f6f6fadf;
  padding: 10px 15px;
  border-radius: 10px;
  color: #080808;
}
.form-btn{
  min-width: 200px; 
  background-color: #f4f4fbe5;
  padding: 10px 15px;
  color: #080808;
  text-align: start;
  border-radius: 10px;
  border: 1px solid #f1f1f2ca;
}


