/* banner */

/* =============================== */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
}

.img-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background-position: center;
}

.img-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding: 80px 0;
  position: relative;
  color: #fff;
  z-index: 1;
  min-height: 400px;
}
.section .row {
  --bs-gutter-x: 0rem; 
 
}
/* ====================== */
.text-banner-left{
  position: absolute;
  top:50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 800px;
}
.text-banner-right{
  position: absolute;
  top:50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 30rem;
}

/* ====================== */
.section .content {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 93, 135, 0.308);
  z-index: -1;
  
}
.section-white {
  padding: 10px 0;
  background-color:transparent;
}
.section-white .shine-button {
  color: white;
  border: 2px solid white;
}
/* ===========News======== */

.section-news {
  padding: 80px 0;
  position: relative;
  color: #fff;
  z-index: 1;
  min-height:auto;
}
.news-section .container{
  background-color: rgba(240, 244, 247, 0.686);
  color: rgb(1, 5, 57);
  margin-left: auto;
  margin-right: auto;
  min-height: auto;
}
.my-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
@media (max-width: 576px) {
  .news-section .container{
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* ============================= */
.section-white .container {
 margin-top: 20px;
 margin-bottom: 20px;
  min-height: 300px;
}
@media (max-width: 1200px) {
  .text-banner {
    position: static;
    transform: none;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .home-card{
    max-height: 300px;
    max-width: 200px;
   }
   .section {
    min-height: 300px;
  }
  .section p {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .home-btn{
    max-width: 200px;
    min-width:auto; 
  }
  .home-card{
   max-height: 250px;
   max-width: 200px;
  }
  .section-white .container {
    max-height: 250px;
    margin-bottom: 5px;
   }
}


